$grey : #ececec;
$dark-grey: #444444;

$text-grey: #444444;
$text-dark: #000000;
$text-light: #ffffff;
$text-green: #63d1bb;

$font-normal: "Open Sans", "Arial", sans-serif;
$font-bold: "Open Sans Bold", "Arial", sans-serif;
