.advantages {
  padding: 10px 30px 0 29px;
}

.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__heading {
  color: $text-dark;
  font-family: $font-bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 17px;
  margin-bottom: 36px;
}

.advantages__item {
  color: $text-dark;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 50px;
  letter-spacing: 0.01em;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 28px;
  }

  .advantages__heading {
    margin-top: 38px;
    margin-bottom: 47px;
    padding-left: 17px;
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 21px;
  }

  .advantages__item {
    margin-bottom: 55px;
    padding-top: 56px;
    font-size: 20px;
    line-height: 22px;
    width: 334px;
  }

  .advantages__item:nth-child(1) {
    order: 1;
  }

  .advantages__item:nth-child(4) {
    order: 2;
  }

  .advantages__item:nth-child(2) {
    order: 3;
  }

  .advantages__item:nth-child(5) {
    order: 4;
  }

  .advantages__item:nth-child(3) {
    order: 5;
  }

  .advantages__item:nth-child(6) {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-left: 204px;
    padding-right: 204px;
    padding-bottom: 37px;
  }

  .advantages__heading {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 45px;
  }

  .advantages__item {
    width: 350px;
  }
}
