.featured-product {
  background: transparent url("../img/backgrounds/bg-zigzag-line.svg") repeat-x bottom;
  background-size: 320px 7px;
  background-position-x: 9px;
}

.featured-product__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 42px 30px;
}

.featured-product__top {
  display: flex;
  flex-direction: column;
}

.featured-product__heading {
  margin-top: 0;
  color: $text-green;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.featured-product__name {
  order: -1;
  margin-top: 17px;
  margin-bottom: 5px;
  color: $text-dark;
  font-family: $font-bold;
  font-size: 25px;
  line-height: 30px;
}

.featured-product__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.featured-product__description {
  font-size: 15px;
  line-height: 24px;
  margin-top: 9px;
  margin-bottom: 17px;
}

.featured-product__properties {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.featured-product__property {
  height: 40px;
  border-bottom: 1px solid $grey;
}

.featured-product__property-name {
  width: 96px;
}

.featured-product__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  width: 260px;
  height: 315px;
  margin-bottom: 8px;
  background-color: $grey;
  order: 1;
}

.featured-product__price {
  align-self: center;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 25px;
  order: 2;
}

.featured-product__button {
  width: 100%;
  padding-top: 0.8em;
  padding-bottom: 0.85em;
  order: 3;
}

@media (min-width: $tablet-width) {
  .featured-product {
    background-size: 768px 17px;
    background-position-x: 19px;
  }

  .featured-product__inner {
    padding: 0 48px 70px 48px;
  }

  .featured-product__top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .featured-product__heading {
    width: 100px;
    margin: 29px 16px auto auto;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .featured-product__name {
    font-size: 43px;
    line-height: 50px;
  }

  .featured-product__content {
    position: relative;
    margin-top: 35px;
    padding-right: 380px;
    width: 100%;
  }

  .featured-product__image-wrapper {
    position: absolute;
    top: 17px;
    right: 3px;
    width: 333px;
    height: 404px;
  }

  .featured-product__bottom {
    position: relative;
  }

  .featured-product__description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
    align-self: flex-start;
    letter-spacing: 0.01em;
  }

  .featured-product__properties {
    margin-bottom: 36px;
  }

  .featured-product__price {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
  }
}

@media (min-width: $desktop-width) {
  .featured-product {
    //width: 1050px;
    //margin-left: auto;
    //margin-right: auto;
    background-size: 1050px 23px;
    background-position-x: 25px;
  }

  .featured-product__inner {
    position: relative;
    margin-bottom: 10px;
    padding-top: 100px;
    padding-left: 82px;
    padding-bottom: 98px;
  }

  .featured-product__top {
    justify-content: flex-start;
    z-index: 1;
  }

  .featured-product__heading {
    margin: 0.7em 39px 0.7em 0;
  }

  .featured-product__name {
    position: relative;
    bottom: 4px;
    margin: auto 0;
    font-size: 53px;
    line-height: 57px;
    order: 1;
  }

  .featured-product__content {
    display: block;
    padding-left: 143px;
    padding-right: 585px;
  }

  .featured-product__description {
    margin-bottom: 48px;
  }

  .featured-product__properties {
    margin-bottom: 109px;
  }

  .featured-product__price {
    margin-bottom: 36px;
    text-align: center;
  }

  .featured-product__image-wrapper {
    width: 525px;
    height: 636px;
    top: -148px;
    right: 2px;
  }
}
