.input-field {
  border: none;
  //border-bottom: 2px solid $text-dark;
  box-shadow: inset 0 -2px 0 0 $text-dark;
  font: inherit;
  color: inherit;
  font-size: 17px;
  line-height: 18px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
    line-height: 18px;
  }
}

.input-field--textarea {
  box-shadow: inset -2px -2px 0 0 $text-dark,
    inset 2px 2px 0 0 $text-dark;
}
