.merchandise__item {
  display: block;
  width: 100%;
}

.merchandise__link {
  display: block;
  width: 100%;
  padding: 26px 140px 29px 29px;
  font-family: $font-bold;
  color: $text-light;
  font-size: 19px;
  line-height: 24px;
}

.merchandise__link--lighter {
  background-color: #63d1bb;
}

.merchandise__link--darker {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .merchandise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 29px;
    padding: 0 50px;
    background-color: #f5f5f5;
  }

  .merchandise__item {
    width: 50%;
  }

  .merchandise__link {
    font-size: 20px;
    line-height: 30px;
    padding: 28px 140px 30px 36px;
  }
}

@media (min-width: $desktop-width) {
  .merchandise__link {
    padding-right: 310px;
  }
}
