.page-header {
  border-top: 1px solid $grey;
}

.page-header__bottom {
  border-top: 1px solid $grey;
  background: #f5f5f5 url("../img/hero-mobile@1x.jpg") no-repeat center -19px;
}

.page-header__bottom--inner {
  background: #f1f1f1 none;
}

.page-header__heading {
  color: $text-dark;
  text-align: center;
  font-family: $font-bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 70px 38px 122px;
}

.page-header__heading--inner {
  padding-bottom: 76px;
  margin-bottom: 30px;
}
