.product {
  margin-bottom: 30px;
  box-shadow: inset 1px 1px 0 0 #eeeeee,
    inset -1px -1px 0 0 #eeeeee;
}

.product__image-wrapper {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 195px;
}

.product__description {
  padding: 27px 28px 6px;
}

.product__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  color: $text-dark;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.product__size {
  font-size: 13px;
  line-height: 30px;
  margin-top: 0;
}

.product__order {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 27px;
  margin: 0 27px 0 28px;
  border-top: 1px solid #ededed;
}

.product__price {
  color: $text-dark;
  font-family: $font-bold;
  font-size: 15px;
  line-height: 24px;
}

.product__add-button {
  width: 21px;
  height: 19px;
}
